# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/

# Env
.env

# VS Code / local IDE
.vscode/
.idea/

# Windows noise
Thumbs.db
Desktop.ini

# App outputs
/data/output/
/data/input/20*.txt
/output/

