# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
*.pyt
*.pym
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.cache/
.hypothesis/
.python-version
pip-wheel-metadata/
pip-log.txt
pip-delete-this-directory.txt
pyvenv.cfg
.venv/
venv/
ENV/
env/
env.bak/

# Distribution / packaging
build/
dist/
eggs/
parts/
sdists/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Unit test / coverage reports
coverage.xml
nosetests.xml
*.cover
*.py,cover

# Env
.env

# IDE / local editor
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db
Icon?
*.lnk

# Logs
*.log

# Application outputs
/data/output/
/output/
/data/input/20*.txt

